body {border:5px solid purple ;
	background:pink
	color:purple

	h1{font-family:fantasy;}
    h2{font-family:Fantasy;}

        /* body {
            background: rgb(184, 130, 245);
            font-family: sans-serif;
        }*/
        
        .header {
            background-color: rgb(111, 58, 161);
            color: white;
            padding: 5px 10px;
        }
        
        .footer {
            background-color: rgb(111, 180, 232);
            padding: 6px;
            clear: both;
        }
        
        #hopper-pic {
            width: 100px;
            float: left;
            margin-right: 6px;
            margin-bottom: 6px;
            
        }
        
        #hopper-links {
            float: right;
            width: 30%;
            margin-left: 10px;
        }

        }
        
        h3{font-family:fantasy;}
        body {color:white}

body {border:5px solid purple ;}
	body {background:pink}</style>
	 <style>body {color:black}</style>
	<style>body {color:purple}</style>
	<style>p{font-family:fantasy;}</style>
    <style>p{font-family:Fantasy;}</style>
    <style>ul{font-family:serif;}</style>
    <style>body {text-align:center;} </style>

body {border:5px solid purple ;}
	body {background:violet}</style>
	 <style>body {color:white}</style>
	<style>body {color:white}</style>
	<style>h1{font-family:fantasy;}</style>
    <style>h2{font-family:Fantasy;}</style>




